
body {
  background: black;
  background-size: cover;
  font-size: 175px;
}

.hide {
  position: fixed;
  left: 2000px;
}

#line1 {
  color: white;
  font-family: Helvetica;
  margin-top: 100px;
  text-shadow: 5px 5px red;
}

#line2 {
  color: white;
  font-family: Helvetica;
  margin-top: -100px;
  margin-bottom: 100px;
  text-shadow: 5px 5px red;
}

#mobilebar {
  display: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 1200px;
  margin-top: 20px;
}


.flash {
    box-shadow: 10px 10px white;
}

#centerBox {
  border: 5px solid red;
  justify-content: center;
  /*background-color: black;*/
  width: 700px;
  height: 700px;
  text-align: center;
  display: block;
  cursor: help;
}




.sidebar {
  color: white;
  font-family: wingdings;
  width: 200px;
  word-wrap: break-word;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 5px 5px red;

}

#right {
  margin-left: 50px;
}

#left {
  margin-right: auto;
}

#buttonbox {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 5px 5px red;
  align-content: center;
  height: 200px;
  padding-left: 50px;

}

#musicbutton {
  cursor: pointer;
}

#musicplayer {
  width: 700px;
  height: 700px;
  border: none;
}




/*media queries*/


@media screen and (max-width: 1200px) {
  body {
    font-size: 150px;
  }
  #centerBox {
    height: 600px;
    width: 600px;
  }
  .sidebar {
    width: 170px;
  }
  #left {
    margin-right: 5px;
    margin-left: none;
  }
  #buttonbox {
    width: 600px;
  }
  .container {
    width: 1024px;
    margin-top: 40px;
  }
  #musicplayer {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 115px;
  }
  #centerBox {
    height: 450px;
    width: 450px;
  }
  .sidebar {
    width: 110px;
  }
  #left {
    margin-right: 40px;
    margin-left: none;
  }
  #buttonbox {
    width: 500px;
    margin-top: 20px;
  }
  .container {
    width: 800px;
    margin-top: 100px;
  }
  #musicplayer {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 100px;
  }
  #centerBox {
    height: 400px;
    width: 400px;
  }
  .sidebar {
    width: 100px;
  }
  #left {
    margin-right: 30px;
    margin-left: none;
  }
  #buttonbox {
    margin-top: 30px;
    width: 400px;
  }
  .container {
    width: 700px;
    margin-top: 130px;
  }
  #musicplayer {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 75px;
  }
  #centerBox {
    height: 300px;
    width: 300px;
  }
  .sidebar {
    width: 75px;
  }
  #left {
    margin-right: 30px;
    margin-left: none;
  }
  #buttonbox {
    margin-top: 30px;
    width: 400px;
    padding-left: 130px;
  }
  .container {
    width: 550px;
    margin-top: 80px;
  }
  #musicplayer {
    width: 300px;
    height: 300px;
  }

  #line1 {
    margin-top: 50px;
  }
  #line2{
    margin-top: -50px;
  }
}

@media screen and (max-width: 420px) {
  body {
    font-size: 75px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #centerBox {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar {
    width: 30px;
    display: none;
  }
  #left {
    margin-right: 30px;
    margin-left: 10px;
  }
  #right {
    margin-left: 20px;
  }

  #buttonbox {
    margin-top: 20px;
    width: 300px;
    padding-left: 30px;
  }
  .container {
    width: 360px;
    margin-top: 50px;
  }
  #musicplayer {
    width: 300px;
    height: 300px;
  }

  #line1 {
    margin-top: 50px;
  }
  #line2{
    margin-top: -50px;
  }
  .flash {
    box-shadow: 3px 3px white;
  }
  #mobilebar {
    display: none;
    width: 100px;
    margin-top: 20px;
    justify: center;
  }
}
